<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Question</title>
</head>
<body>
<form action="/create" method="post" th:object="${questionContent}">
    <div class="container col-5">
        <div class="row text-center mb-5">
            <h1>Create New Customer</h1>
        </div>
        <div class="row">
            <div class="col-3">
                <a button class="btn btn-primary" href="/">Back to list</a>
            </div>
        </div>
        <div class="col">
            <table class="table">
                <tr>
                    <td class="col-1">Title</td>
                    <td class="col-2">
                        <input class="input" type="text" th:field="*{title}">
                    </td>
                    <td class="col-2">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td>
                        <input class="input" type="text" th:field="*{content}">
                    </td>
                    <td class="col-3">
                        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Answer</td>
                    <td>
                        <input class="input" type="text" th:field="*{answer}">
                    </td>
                    <td class="col-3">
                        <span th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Date Create</td>
                    <td>
                        <input class="input" type="text" th:field="*{dateCreate}">
                    </td>
                    <td class="col-3">
                        <span th:if="${#fields.hasErrors('dateCreate')}" th:errors="*{dateCreate}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <input class="input" type="text" th:field="*{status}">
                    </td>
                    <td class="col-3">
                        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Question Type</td>
                    <td>
                        <select th:field="*{questionType}">
                            <option th:each="item: ${questionTypeList}"  th:value="${item.id}"
                                    th:text="${item.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
</body>
</html>